@mixin max-lines-x-list {
  @for $i from 1 through 5 {
    .max-lines-#{$i} {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: #{$i};
    }
  }
}

@include max-lines-x-list;

.flex-0-auto {
  flex: 0 0 auto;
}

.grid-gallery-3 {
  grid-template-columns: auto auto auto;

  & :nth-child(1) {
    grid-row: 2 span;
    grid-column: 2 span;
  }
}

.grid-gallery-5 {
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;

  & > div {
    grid-column: 2 span;
    grid-row: 3 span;
  }

  & :nth-child(1) {
    grid-row: 4 span;
    grid-column: 3 span;
  }
  & :nth-child(2) {
    grid-row: 4 span;
    grid-column: 3 span;
  }
}

.overloap-profiles {
  @for $i from 2 through 10 {
    & > *:nth-child(#{$i}) {
      transform: translateX(#{calc(($i - 1) * 20 * -1) + "%"});
    }
  }
}
